---
import CategoryButton from '../components/CategoryButton.astro';
import Layout from '../layouts/Layout.astro';
import '@fontsource-variable/inter-tight';
---

<Layout title='email'>
  <div class="w-full">
    <h1 class="pt-10 text-5xl leading-normal font-bold">🎢  Startups’ wild ride ahead</h1>
    <p class="pt-5 text-xl leading-normal"><b>Sent on:</b> 2024-01-05 06:02:06</p>
    <CategoryButton>Button<CategoryButton />
  </div>
  <iframe width="100%" src="archives/4_ways_to_connect_with_nature.html" id="mail"></iframe>
  <script>
    var iframe = document.getElementById("mail");
    iframe.onload = function () {
      iframe.style.height = iframe.contentWindow.document.body.clientHeight + 1 + 'px';
    }
  </script>
</Layout>
