---
import Layout from '../layouts/Layout.astro';
import '@fontsource-variable/inter-tight';

---
<Layout title='NewsletterMonster.com'>
<div> 
	<div>
		<h1>NewsletterMonster Template</h1>
		<p></p>
	</div>
</Layout>
	
</div>


