---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Newsletter Monster - Template regular post">
	<h1 class="text-3xl text-black font-bold self-center">NewsletterMonster Template</h1>
	<p></p>
</Layout>

