---
import Layout from "../layouts/Layout.astro";
import "@fontsource-variable/inter-tight";
import LogoCloud from "../components/LogoCloud.astro";
import CatCard from "../components/CatCard.astro";
import Contact1 from "../components/Contact1.astro";
---

<Layout title="NewsletterMonster.com">
  <section>
    <div class="flex flex-col sm:flex-row h-screen dark">
      <div
        class="flex-1 flex items-center ver bg-[#fc0434] bg-fixed text-white p-10 rounded-xl"
      >
        <div h-full>
          <p class="text-7xl sm:text-7xl font-bold mb-4 leading-none">
            Cellebrating Newsletters!
          </p>
          <p class="text-left text-3xl font-thin mb-8 tracking-tight leading-7">
            This is a web archive of newsletters, their art, pictures, and
            overall beauty. A treasure cove of captivating art, vivid pictures,
            and timeless beauty.
          </p>
          <!-- Call to Action -->
          <a
            class="group relative inline-block focus:outline-none focus:ring"
            href="#"
          >
            <span
              class="text-1xl absolute inset-0 translate-x-1.5 translate-y-1.5 bg-yellow-300 transition-transform group-hover:translate-x-0 rounded-lg group-hover:translate-y-0"
            ></span>

            <span
              class="relative inline-block border-2 border-current rounded-lg px-8 py-3 text-1xl font-bold uppercase tracking-widest text-black group-active:text-opacity-75"
            >
              Browse Categories!
            </span>
          </a>
        </div>
      </div>

      <!-- Right Half - Image Loop -->
      <div class="flex-1 sm:flex-row rounded-xl">
        <div class="h-full">
          <!-- Images loop using a simple JavaScript script -->
          <div id="imageLoop" class="h-full rounded-xl"></div>
        </div>
      </div>
    </div>

    <script>
      const imageLoop = document.getElementById("imageLoop");

      if (imageLoop) {
        const imageFolder = "/images/emailing/"; // Adjusted path

        const imageFiles = [
          "image1.webp",
          "image2.webp",
          "image3.webp",
          "image4.webp",
          "image5.webp",
          "image6.webp",
          "image7.webp",
          "image8.webp",
          "image9.webp",
          // Add more image file names as needed
        ];

        let currentIndex = 0;

        function changeImage() {
          const imagePath = `.${imageFolder}${imageFiles[currentIndex]}`;
          console.log("Current Image Path:", imagePath);

          // Set the background image
          if (imageLoop) {
            imageLoop.style.backgroundImage = `url('${imagePath.replace(
              / /g,
              "%20"
            )}')`;
            imageLoop.style.backgroundPosition = "center center";
            imageLoop.style.backgroundSize = "cover";
          }

          currentIndex = (currentIndex + 1) % imageFiles.length;
        }

        // Change image every 3 seconds (adjust as needed)
        setInterval(changeImage, 300);

        // Initial image
        changeImage();
      } else {
        console.error("Element with ID 'imageLoop' not found.");
      }
    </script>
  </section>
  <LogoCloud />
  <div class="flex-1 flex items-center mb-6 gap-3 rounded-xl">
    <CatCard />
    <CatCard />
    <CatCard />
  </div>
  <div class="flex-1 mb-6 gap-3 rounded-xl">
    <Contact1 />
  </div>
</Layout>
