---
import Layout from '../layouts/Layout.astro';
import '@fontsource-variable/inter-tight';

---
<Layout title='NwsletterMonster.com'>
</div> 
	<div class="grid gap-0">
		<h1 class="text-3xl text-black font-bold flex-auto">NewsletterMonster Template</h1>
		<p></p>
	</div>
</Layout>
	
</div>


