---
console.log("javascript")
---

<header class="text-3xl py-2 mx-auto max-w-xl lg:py-3 lg:px-3">
    <nav class="flex flex-col">
        <ul>
            <a class="text-black text-lg mb-4" href="#">Home</a>
            <a class="text-black text-lg mb-4" href="#">Categories</a>
        </ul>
    </nav>
    <slot />
</header>

