---
import { getImage } from "astro:assets";
import faviconSrc from "../images/favicon.png";
import faviconSvgSrc from "../images/favicon.svg";

const appleTouchIcon = await getImage({
  src: faviconSrc,
  width: 180,
  height: 180,
  format: "png",
});
const faviconSvg = await getImage({ src: faviconSvgSrc, format: "svg" });
---

<html>
  <head>
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href={faviconSvg.src} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={appleTouchIcon.src} />
    <link rel="manifest" href="/manifest.json" />
  </head>
  <body> </body>
</html>
