---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/inter-tight";
import Index from "./Index.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <Index />
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <title>{title}</title>
  </head>
  <body class="max-w-6xl mx-auto dark:bg-[#202426]">
    <Header />
    <main class="relative full text-justify">
      <slot />
    </main>
    <Footer />
    <style is:global>
      html {
        font-family: "Inter Tight Variable", system-ui, sans-serif;
        background-size: 224px;
        color-scheme: dark light;
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      h1 {
        font-size: 6rem;
        font-weight: 800;
        text-wrap: balance;
        text-align: left;
        line-height: 1em;
        margin-bottom: 20px;
      }

      p {
        font-size: 1rem;
        padding-top: 10px;
        padding-bottom: 20px;
      }
    </style>
  </body>
</html>
